%h1 Message detail

%table
  %thead
    %tr
      %th User name
      %th Message body
      %th  Created
  %tbody
    %tr
      %td= @message.user.name
      %td= @message.body
      %td= l(@message.created_at)

%br
%br

= link_to 'Home', root_url
